.testimonial-card2-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
.testimonial-card2-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card2-icon {
  width: var(--dl-size-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card2-text {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  margin-bottom: var(--dl-space-space-twounits);
}
.testimonial-card2-text1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.testimonial-card2-root-class-name1 {
  align-self: flex-start;
}
.testimonial-card2-root-class-name2 {
  align-self: flex-start;
}
@media(max-width: 767px) {
  .testimonial-card2-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .testimonial-card2-testimonial {
    margin-right: var(--dl-space-space-twounits);
  }
  .testimonial-card2-icon {
    height: var(--dl-size-size-small);
  }
}
@media(max-width: 479px) {
  .testimonial-card2-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card2-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .testimonial-card2-text {
    text-align: left;
  }
}

.testimonial-card4-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.testimonial-card4-icon {
  width: var(--dl-size-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card4-text {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card4-profile {
  width: 100%;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.testimonial-card4-container {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card4-text1 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

@media(max-width: 991px) {
  .testimonial-card4-icon {
    height: var(--dl-size-size-medium);
  }
  .testimonial-card4-profile {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 479px) {
  .testimonial-card4-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .testimonial-card4-profile {
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.home-phone {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-link {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.home-links {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-link01 {
  font-size: 1.5em;
  text-decoration: none;
}
.home-link02 {
  font-size: 1.5em;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link03 {
  font-size: 1.5em;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-link04 {
  font-size: 1.5em;
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon02 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.home-burger-menu {
  display: none;
}
.home-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-phone1 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-link07 {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.home-icon06 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon08 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  text-decoration: none;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-links1 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.home-link10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link11 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link12 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link13 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: radial-gradient(circle at center, rgb(189, 195, 199) 0.00%,rgba(26, 27, 28, 0.01) 100.00%),url("public/cropped-new-truck-2-2-1500h.jpg");
  background-position: center;
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 3rem;
  max-width: 450px;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text01 {
  color: var(--dl-color-gray-white);
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.home-services {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: 232323;
}
.home-text02 {
  color: var(--dl-color-gray-white);
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-container01 {
  flex: auto;
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  background-color: var(--dl-color-gray-white);
}
.home-container02 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}
.home-image {
  width: auto;
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
}
.home-text05 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-halfunit);
}
.home-about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-text08 {
  color: var(--dl-color-gray-white);
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-container03 {
  width: auto;
  height: auto;
  display: flex;
  align-items: stretch;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-container04 {
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-image1 {
  width: auto;
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.home-text11 {
  height: auto;
  align-self: center;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-transform: uppercase;
}
.home-container05 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-image2 {
  width: auto;
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.home-text12 {
  font-style: normal;
  text-align: center;
  font-weight: 600;
  line-height: 1.75;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  text-transform: uppercase;
}
.home-container06 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-image3 {
  width: auto;
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
}
.home-text17 {
  font-style: normal;
  text-align: left;
  font-weight: 600;
  line-height: 1.75;
  margin-left: var(--dl-space-space-threeunits);
  margin-right: var(--dl-space-space-threeunits);
  text-transform: uppercase;
}
.home-testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-text18 {
  color: var(--dl-color-gray-white);
  align-self: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
}
.home-container07 {
  display: flex;
  max-width: auto;
  align-items: stretch;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-container08 {
  flex: 2;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container09 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
.home-container10 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text21 {
  color: var(--dl-color-gray-white);
  height: 100%;
  align-self: flex-end;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
}
.home-text27 {
  color: var(--dl-color-gray-white);
  height: 100%;
  align-self: flex-end;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
}
.home-text28 {
  color: var(--dl-color-gray-white);
  height: 100%;
  align-self: flex-end;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
}
@media(max-width: 1200px) {
  .home-navbar-interactive {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
  .home-link {
    font-size: 1.5em;
  }
  .home-link01 {
    font-size: 1.5em;
    text-transform: capitalize;
  }
  .home-link02 {
    font-size: 1.5em;
  }
  .home-link03 {
    font-size: 1.5em;
  }
  .home-link04 {
    font-size: 1.5em;
  }
}
@media(max-width: 991px) {
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    width: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
  }
  .home-icon04 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-phone1 {
    width: auto;
    align-self: center;
  }
  .home-link07 {
    font-size: 1.5em;
  }
  .home-icon06 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon08 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-mobile-menu {
    height: auto;
  }
  .home-icon12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-text02 {
    text-align: center;
  }
  .home-text08 {
    text-align: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-container08 {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text21 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-text27 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
  .home-text28 {
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu {
    align-items: stretch;
    justify-content: flex-start;
  }
  .home-icon06 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon08 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-link10 {
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .home-link11 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link12 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-link13 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-icon12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container01 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container02 {
    flex-direction: column;
  }
  .home-image {
    align-self: center;
  }
  .home-container03 {
    flex-direction: column;
  }
  .home-container04 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container05 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container06 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-container07 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text21 {
    width: auto;
  }
  .home-text27 {
    width: auto;
  }
  .home-text28 {
    width: auto;
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-icon-group {
    display: none;
  }
  .home-burger-menu {
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-icon-group1 {
    display: none;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-top {
    position: relative;
  }
  .home-close-menu {
    top: 0px;
    right: 0px;
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
    position: absolute;
  }
  .home-icon12 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-icon14 {
    width: var(--dl-size-size-small);
    height: var(--dl-size-size-small);
  }
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image {
    display: none;
  }
  .home-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container05 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image2 {
    width: 100%;
    height: auto;
  }
  .home-container06 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container07 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container11 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text21 {
    align-self: flex-start;
    text-align: left;
  }
  .home-text27 {
    opacity: 0;
    align-self: flex-start;
    text-align: left;
  }
  .home-text28 {
    align-self: flex-start;
    text-align: left;
  }
}
