.cta11-wrapper {
  display: contents;
}
 
.cta11-container {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.cta11-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
 
.cta11-content {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.cta11-heading11 {
  text-align: center;
}
 
.cta11-heading12 {
  text-align: center;
}
 
.cta11-content1 {
  text-align: center;
}
 
.cta11-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.cta11-action1 {
  text-align: center;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 

 
@media(max-width: 1600px) {
  .cta11-button {
    border-color: var(--dl-color-gray-black);
    border-width: 1px;
    background-color: #000000;
  }
  .cta11root-class-name {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
}
 
@media(max-width: 479px) {
  .cta11-actions {
    width: 100%;
    flex-direction: column;
  }
  .cta11-button {
    width: 100%;
  }
}

.testimonial-card2-wrapper {
  display: contents;
}
 
.testimonial-card2-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  max-width: var(--dl-layout-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
 
.testimonial-card2-testimonial {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
 
.testimonial-card2-icon1 {
  width: var(--dl-layout-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.testimonial-card2-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.testimonial-card2-text2 {
  font-size: 1.5rem;
  font-weight: 600;
}
 
.testimonial-card2root-class-name1 {
  align-self: flex-start;
}
 
.testimonial-card2root-class-name2 {
  align-self: flex-start;
}
 
@media(max-width: 1600px) {
  .testimonial-card2-text1 {
    font-family: Noto Sans;
  }
}
 
@media(max-width: 767px) {
  .testimonial-card2-testimonial-card {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .testimonial-card2-testimonial {
    margin-right: var(--dl-layout-space-twounits);
  }
  .testimonial-card2-icon1 {
    height: var(--dl-layout-size-small);
  }
}
 
@media(max-width: 479px) {
  .testimonial-card2-testimonial-card {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .testimonial-card2-testimonial {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .testimonial-card2-text1 {
    text-align: left;
  }
}

.testimonial-card2-wrapper-3ibn {
  display: contents;
}
 
.testimonial-card2-testimonial-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  max-width: var(--dl-layout-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: center;
  justify-content: space-between;
}
 
.testimonial-card2-testimonial1 {
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
 
.testimonial-card2-icon3 {
  width: var(--dl-layout-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.testimonial-card2-text3 {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.testimonial-card2-text4 {
  font-size: 1.5rem;
  font-weight: 600;
}
 
.testimonial-card2root-class-name1 {
  align-self: flex-start;
}
 
.testimonial-card2root-class-name2 {
  align-self: flex-start;
}
 
@media(max-width: 1600px) {
  .testimonial-card2-text3 {
    font-family: Noto Sans;
  }
}
 
@media(max-width: 767px) {
  .testimonial-card2-testimonial-card1 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .testimonial-card2-testimonial1 {
    margin-right: var(--dl-layout-space-twounits);
  }
  .testimonial-card2-icon3 {
    height: var(--dl-layout-size-small);
  }
}
 
@media(max-width: 479px) {
  .testimonial-card2-testimonial-card1 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    flex-direction: column;
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .testimonial-card2-testimonial1 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .testimonial-card2-text3 {
    text-align: left;
  }
}

.testimonial-card4-wrapper {
  display: contents;
}
 
.testimonial-card4-testimonial-card {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-twounits);
  max-width: var(--dl-layout-size-maxwidth);
  align-self: stretch;
  background: #fff;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.testimonial-card4-icon1 {
  width: var(--dl-layout-size-small);
  flex-shrink: 0;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.testimonial-card4-text1 {
  color: var(--dl-color-gray-500);
  font-size: 1.15rem;
  padding-top: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-threeunits);
}
 
.testimonial-card4-profile {
  width: 100%;
  display: flex;
  margin-top: auto;
  align-items: center;
  padding-top: var(--dl-layout-space-unit);
  border-color: var(--dl-color-gray-900);
  border-width: 1px;
  flex-direction: row;
  justify-content: flex-start;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.testimonial-card4-container {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-unit);
  flex-direction: column;
  justify-content: space-between;
}
 
.testimonial-card4-text2 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 0.25rem;
}
 

 
@media(max-width: 991px) {
  .testimonial-card4-icon1 {
    height: var(--dl-layout-size-medium);
  }
  .testimonial-card4-profile {
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
  }
}
 
@media(max-width: 479px) {
  .testimonial-card4-testimonial-card {
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
  }
  .testimonial-card4-profile {
    justify-content: center;
  }
}

.home-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-halfunit);
  justify-content: space-between;
}
 
.home-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.home-phone1 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-link10 {
  font-size: 1.5em;
  font-style: normal;
  font-weight: 700;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
}
 
.home-links1 {
  flex: 1;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-link11 {
  font-size: 1.5em;
  text-decoration: none;
}
 
.home-link12 {
  font-size: 1.5em;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-link13 {
  font-size: 1.5em;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-link14 {
  font-size: 1.5em;
  margin-left: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-icon10 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-icon12 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  text-decoration: none;
}
 
.home-burger-menu {
  display: none;
}
 
.home-icon14 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-phone2 {
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-link17 {
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
}
 
.home-icon16 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-icon18 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
  text-decoration: none;
}
 
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
 
.home-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.home-icon20 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.home-links2 {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link20 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link21 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link22 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link23 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-icon22 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  margin-right: var(--dl-layout-space-twounits);
  text-decoration: none;
}
 
.home-icon24 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
  text-decoration: none;
}
 
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-threeunits);
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-image: radial-gradient(circle at center, rgb(189, 195, 199) 0.00%,rgba(26, 27, 28, 0.01) 100.00%),url("public/cropped-new-truck-2-2-1500h.jpg");
  background-position: center;
}
 
.home-text10 {
  color: var(--dl-color-gray-white);
  width: 806px;
  font-size: 3rem;
  max-width: 600px;
  margin-top: var(--dl-layout-space-twounits);
  text-align: center;
  margin-bottom: var(--dl-layout-space-twounits);
}
 
.home-text11 {
  color: var(--dl-color-gray-white);
}
 
.home-point-s {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
 
.home-text12 {
  color: var(--dl-color-gray-white);
  align-self: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-container11 {
  flex: auto;
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-threeunits);
  margin-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  background-color: var(--dl-color-gray-white);
}
 
.home-container12 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-gray-white);
}
 
.home-link26 {
  display: contents;
}
 
.home-image1 {
  width: auto;
  height: var(--dl-layout-size-xxlarge);
  object-fit: cover;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  text-decoration: none;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text15 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text18 {
  display: inline-block;
}
 
.home-about-us {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
 
.home-text19 {
  color: var(--dl-color-gray-white);
  align-self: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-container13 {
  flex: auto;
  width: auto;
  display: flex;
  max-width: auto;
  align-items: flex-start;
  margin-left: var(--dl-layout-space-threeunits);
  margin-right: var(--dl-layout-space-threeunits);
  flex-direction: row;
  background-color: var(--dl-color-gray-white);
}
 
.home-container14 {
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-unit);
  padding-bottom: var(--dl-layout-space-unit);
  background-color: var(--dl-color-gray-white);
}
 
.home-text22 {
  font-style: normal;
  font-weight: 600;
  line-height: 1.75;
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-halfunit);
  padding-right: var(--dl-layout-space-halfunit);
}
 
.home-image2 {
  width: auto;
  height: var(--dl-layout-size-xxlarge);
  object-fit: cover;
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
}
 
.home-testimonial {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
 
.home-text25 {
  color: var(--dl-color-gray-white);
  align-self: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
}
 
.home-container15 {
  display: flex;
  max-width: auto;
  align-items: stretch;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.home-container16 {
  flex: 2;
  height: auto;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container17 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-twounits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-container18 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
 
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  position: relative;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-text28 {
  color: var(--dl-color-gray-white);
  height: 100%;
  align-self: flex-end;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
}
 
.home-text34 {
  color: var(--dl-color-gray-white);
  height: 100%;
  align-self: flex-end;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
}
 
.home-text37 {
  color: var(--dl-color-gray-white);
  height: 100%;
  align-self: flex-end;
  text-align: left;
  font-family: "Inter";
  font-weight: 400;
}
 
@media(max-width: 1600px) {
  .home-link11 {
    font-size: 1.5em;
    text-decoration: none;
  }
  .home-text11 {
    color: var(--dl-color-gray-white);
  }
  .home-text22 {
    font-size: 18px;
    font-style: normal;
    font-family: Noto Sans;
    font-weight: 400;
  }
}
 
@media(max-width: 1200px) {
  .home-navbar-interactive {
    padding-top: var(--dl-layout-space-halfunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-link10 {
    font-size: 1.5em;
  }
  .home-link11 {
    font-size: 1.5em;
    text-transform: capitalize;
  }
  .home-link12 {
    font-size: 1.5em;
  }
  .home-link13 {
    font-size: 1.5em;
  }
  .home-link14 {
    font-size: 1.5em;
  }
  .home-hero {
    height: 100%;
    background-image: url("public/cropped-new-truck-2-2-1500h.jpg");
  }
  .home-container11 {
    flex: initial;
  }
  .home-container13 {
    flex: initial;
  }
}
 
@media(max-width: 991px) {
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    width: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: flex-start;
  }
  .home-icon14 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-phone2 {
    width: auto;
    align-self: center;
  }
  .home-link17 {
    font-size: 1.5em;
  }
  .home-icon16 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-icon18 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-mobile-menu {
    height: auto;
  }
  .home-icon22 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-icon24 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-hero {
    width: 100%;
  }
  .home-text12 {
    text-align: center;
  }
  .home-text19 {
    text-align: center;
  }
  .home-text25 {
    text-align: center;
  }
  .home-container15 {
    flex-direction: column;
  }
  .home-container16 {
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-twounits);
  }
  .home-text28 {
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
  }
  .home-text34 {
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
  }
  .home-text35 {
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
  }
  .home-text37 {
    padding-left: var(--dl-layout-space-halfunit);
    padding-right: var(--dl-layout-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-burger-menu {
    align-items: stretch;
    justify-content: flex-start;
  }
  .home-icon16 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-icon18 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-link20 {
    margin-bottom: var(--dl-layout-space-unit);
    text-decoration: none;
  }
  .home-link21 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-link22 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-link23 {
    margin-left: 0;
    margin-bottom: var(--dl-layout-space-unit);
  }
  .home-icon22 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-icon24 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-hero {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-container11 {
    margin-left: var(--dl-layout-space-twounits);
    margin-right: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-container12 {
    flex-direction: column;
  }
  .home-image1 {
    align-self: center;
  }
  .home-container13 {
    margin-left: var(--dl-layout-space-twounits);
    margin-right: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-container14 {
    flex-direction: column;
  }
  .home-image2 {
    align-self: center;
  }
  .home-container15 {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .home-text28 {
    width: auto;
  }
  .home-text34 {
    width: auto;
  }
  .home-text35 {
    width: auto;
  }
  .home-text37 {
    width: auto;
  }
}
 
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-layout-space-unit);
  }
  .home-icon-group1 {
    display: none;
  }
  .home-burger-menu {
    align-items: stretch;
    flex-direction: row;
    justify-content: flex-start;
  }
  .home-icon-group2 {
    display: none;
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-top {
    position: relative;
  }
  .home-close-menu {
    top: 0px;
    right: 0px;
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
    position: absolute;
  }
  .home-icon22 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-icon24 {
    width: var(--dl-layout-size-small);
    height: var(--dl-layout-size-small);
  }
  .home-hero {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-text10 {
    max-width: 450px;
  }
  .home-container11 {
    margin-left: var(--dl-layout-space-unit);
    padding-top: var(--dl-layout-space-twounits);
    margin-right: var(--dl-layout-space-unit);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-image1 {
    display: none;
  }
  .home-container13 {
    margin-left: var(--dl-layout-space-unit);
    padding-top: var(--dl-layout-space-twounits);
    margin-right: var(--dl-layout-space-unit);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-image2 {
    display: none;
  }
  .home-container15 {
    padding-top: var(--dl-layout-space-twounits);
    padding-left: var(--dl-layout-space-unit);
    padding-right: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-twounits);
  }
  .home-container19 {
    align-items: flex-start;
    flex-direction: column;
  }
  .home-text28 {
    align-self: flex-start;
    text-align: left;
  }
  .home-text34 {
    opacity: 0;
    align-self: flex-start;
    text-align: left;
  }
  .home-text35 {
    opacity: 0;
    align-self: flex-start;
    text-align: left;
  }
  .home-text37 {
    align-self: flex-start;
    text-align: left;
  }
}
